*{
    margin: 0;
    padding: 0;
  }
  body{
    overflow-x: hidden;
  }
  .asset{
    padding-left: 70px;
    width: 150px;
  }
.asset img{
    width: 116px;
    height: 85px;
}
.collapse{
    margin-left: 1000px;
}
.nav-link{
margin-left: 20px;
}

  .con1{
    width: 100vw;
    height: 250px;
    background-color: #333;
}

.con1 h2{
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
}
.con2 h1{
  color: #ffffff;
  text-align: center;
  font-weight: Crimson Text;
}
.con2{
  width: 100vw;
    height: 550px;
    background-color: #333;
    color: #ffffff;
}
.con3 h1{
  color: #ffffff;
  text-align: center;
  font-weight: Crimson Text;
}
.con3{
  width: 100vw;
    height: 550px;
    background-color: #333;
    color: #ffffff;
    transform: translateY(-200px);
}