*{
  margin: 0;
  padding: 0;
}
body,html{
  overflow-x: hidden;
}

.hidden-spacer {
  height: 56px
}
.navbar{
  width: 1512px;
  height: 135px;
  background-color: #10151C;
  opacity: 1;
}
.navbar-brand{
  width: 140px;
  height: 85px;
  padding-left: 100px;
}
.navbar-brand img{
  width: 114px;
  height: 85px;

}
.active a{
  color: #FECC07;

}
.active {
  padding-left: 200px;
  font-family:Work sans;
  font-weight: bold;
}
.nav-item a{
  color: #ffffff;
  font-family:Work sans;
  font-weight: bold;
}
img#bg{
  height: 800px;
  width: 1350px;
  position: absolute;
  transform: translateY(-45px);
}
.cont1{
  width: 1350px;
}
.cont1 h1{
  font-family: Crimson Text;
  font-size: 72px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  top: 100px;
}
.cont1 h6{
  position: relative;
  font-size: 28px;
  color: #FFFFFF;
  text-align: center;
  top: 90px;
}
.cont1 h4{
  position: relative;
  font-family: Crimson Text;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  top: 270px;
}
.cont1 hr{
  position: relative;
  color: #FECC07;
  font-weight: bold;
  left: 570px;
  width: 231px;
  border-width: 1px;
  border-radius: 1px;
  opacity: 1;
  top: 290px;
}

.cont2{
  display: flex;
  justify-content: center;
}
.card{
  background-color: #272b2e;
  height: 210px;
  width: 262px;
  text-align: center;
  position: relative;
  top: 380px;
  margin: 50px;
}
.card img{
  height: 40px;
  width: 32px;
  margin: 15px;
}
.cont02{
  position: absolute;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  left: 600px;
  transform: translateY(340px);
}
.cont3{
  background-color: #323538;
  width: 1400px;
  height: 650px;
  display: flex;
  justify-content: center;
}

.card1{
  background-color: #111518;
  height: 174px;
  width: 217px;
  text-align: center;
  position: relative;
  top: 380px;
  margin: 20px;
  border-radius: 5px;
}
.card1 img{
  height: 32px;
  width: 25px;
  margin: 10px;
}
.card-bod{
  color: #FFFFFF;
}
.ratio{
  width: 1510px;
  height: 510px;
}

.con11{
  position: absolute;
  background-color: #0E1317;
  width: 1514px;
  height: 436px;
  color: #ffffff;
}
.con11a{
  position: relative;
  width: 137px;
  height: 103px;
}
.my-3{
  position: relative;
  font-weight: lighter;
}
.p-0{
  position: relative;
  list-style: none;
  color: #ffffff;
  text-decoration: none;
}
.text{
  color: #ffffff;
  text-decoration: none;
  font-weight: lighter;
}
.con11b{
  position: relative;
  left: 130px;
}
.con11c{
  position: relative;
  left: 140px;
}
.con11d{
  position: relative;
  right: 30px;
}
.con11e{
  position: relative;
  right: 200px;
}
.con11f{
  position: relative;
  display: flex;
  left: 20px;
}
.con11f2{
  position: relative;
  color: #6f6f6f;
}
.con11f3{
  position: relative;
  left: 1000px;
  margin-inline: 10px;
}
.con11f4 img{
  position: relative;
  padding-right: 10px;
}